<% include partials/header %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table" id="teams_table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col"></th>
					<th scope="col">Country</th>
					<th scope="col">Owner</th>
					<th scope="col">Points</th>
					<th scope="col">Goal Difference</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < lists.length; i++){ %>
				<tr>
					<th scrope="row"> <%= i+1 %> </th>
					<td> <img src="<%= var cat = lists[i].image; cat.replace(" ","_") %>"></td> 
					<td> <%= lists[i].team %></td>
					<td> <%= lists[i].owner %></td>
					<td> <%= lists[i].points %></td>
					<td> <%= lists[i].goaldif %></td>
					<td> <button class="btn btn-primary <%= lists[i].team %>">Show Matches</button></td>
				</tr>
				<tr class="hiddentable" id="<%= var cat = lists[i].image; cat.replace(" ","_") %>">
					<td colspan="6">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Team</th>
									<th scope="col">Opponent</th>
									<th scope="col">Score</th>
								</tr>
							</thead>
							<tbody>
								<% for(var j=0; j < matches.length; j++){ %>
									<% if(matches[j].team == lists[i].team){ %>
										<tr>
											<td><img src="<%= matches[j].teamimage %>"> <%= matches[j].team %></td>
											<td><img src="<%= matches[j].op_img %>"> <%= matches[j].opponent %></td>
											<td><%= matches[j].goals_for%> - <%= matches[j].goals_against%></td>
										</tr>
									<% } %>
								<% } %>
							</tbody>
						</table>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>


<% include partials/footer %>