<% include partials/header %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col"></th>
					<th scope="col">Country</th>
					<th scope="col">Owner</th>
					<th scope="col">Points</th>
					<th scope="col">Goal Difference</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < lists.length; i++){ %>
				<tr>
					<th scrope="row"> <%= i+1 %> </th>
					<td> <img src="<%= lists[i].image %>"></td> 
					<td> <%= lists[i].team %></td>
					<td> <%= lists[i].owner %></td>
					<td> <%= lists[i].points %></td>
					<td> <%= lists[i].goaldif %></td>
				</tr>
				<tr>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Team</th>
								<th scope="col">Opponent</th>
								<th scope="col">Score</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i < matches.length; i++){ %>
								<% if(matches[i].team = lists[i].team){ %>
									<tr>
										<td><img src="<%= matches[i].teamimage %>"> <%= matches[i].team %></td>
										<td><img src="<%= matches[i].op_image %>"> <%= matches[i].opponent %></td>
										<td><%= matches[i].goals_for%> - <%= matches[i].goals_against%></td>
									</tr>
								<% } %>
							<% } %>
						</tbody>
					</table>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>


<% include partials/footer %>