<% include partials/header %>

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col"></th>
			<th scope="col">Country</th>
			<th scope="col">Owner</th>
			<th scope="col">Points</th>
			<th scope="col">Goal Difference</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i < lists.length; i++){ %>
		<tr>
			<th scrope="row"> <%= i+1 %> </th>
			<td> <img src="<%= lists[i].image %>"></td> 
			<td> <%= lists[i].team %></td>
			<td> <%= lists[i].owner %></td>
			<td> <%= lists[i].points %></td>
			<td> <%= lists[i].goaldif %></td>
		</tr>
		<% } %>
	</tbody>
</table>



<% include partials/footer %>